<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDHuyN5C5Hq6I5T3ba6ClMBal2GNDBFy3g</string>
	<key>GCM_SENDER_ID</key>
	<string>749709458083</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.levelupId.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>levelup-by-telkom</string>
	<key>STORAGE_BUCKET</key>
	<string>levelup-by-telkom.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:749709458083:ios:bd22868714aacd4bb29d16</string>
</dict>
</plist>